@model GadgetHub.Domain.Entities.GadgetCatalog

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Edit", "Admin"))
{
    <div class="container mt-3">
        <div class="card mt-5">
            <div class="card-header">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>

        <div class="card-body text-light">
            @Html.HiddenFor(x => x.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id")
                {
                    <div class="mb-3">
                        <label class="form-label">@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Description")
                        {
                            @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName, "", new { @class = "text-danger" })
                    </div>
                }
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
}
