@model GadgetHub.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Gadget Hub Cart";
}

<h3 class="text-light">Your Cart:</h3>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.cart.Lines)
        {
            <tr>
                <td>@line.Quantity</td>
                <td>@line.Gadget.Name</td>
                <td>@line.Gadget.Price.ToString("c")</td>
                <td>@((line.Quantity * line.Gadget.Price).ToString("c"))</td>
                <td class="d-flex justify-content-center">
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("GadgetId", line.Gadget.Id)
                        @Html.HiddenFor(x => x.returnUrl)
                        <input type="submit" class="btn btn-warning" value="Remove"/>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="text-center">
            <td></td>
            <td colspan="3" class="text-end">Total:</td>
            <td>@Model.cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.returnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-success" })
</div>
